extends layout

block content
  h1= title  
  if (toShow == null) 
    h2 No instance to delete  
  else  
    - let gameid = toShow._id
    - let gamename = toShow.gamename
    - let playername = toShow.playername
    - let score = toShow.score
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{gameid}
    - let actionid = "/resource/game/" + gameid
    form(id='gameForm', action= actionid, method="PUT")
      div.form-group
        label.gameAttr(for='gamename') game Name
        input#game_name(type='text', name='gamename', value= gamename )
      div.form-group
        label.gameAttr(for='playername') game Value
        input#playername(type='text', name='playername', value= playername )
        input(type="submit")
      div.form-group
        label.gameAttr(for='score') Score
        input#score(type='number', name='score', value= score )
    script.
      document.forms['gameForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });